notebooks/
checkpoints/
solutions/
scripts/
data/
.claude/
lightning_logs/
*.pyc
.env
*.lock
.vscode/
*.log
.github/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
outputs/
*.png
move.sh

*.tar.gz